
  @media all {
    .presentation__section{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 23px;}

    .tags__section--accomodation{
      display: flex;
      gap: 10px;
      justify-content: flex-start;}

    .dropdown__section--accomodation{
      display: flex;
      width: 100%;
      justify-content: space-between;}

    .rateAndHost__section--accomodation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      margin-top: 16px;}
}

  @media (max-width: 600px) {
    .tags__section--accomodation{
      flex-wrap: wrap;
      row-gap: 10px;
      margin-top: 10px;
  }

    .dropdown__section--accomodation{
      flex-direction: column;
      gap: 20px;
  }
}
