
  @media all {
    .tag__copy{
      white-space: nowrap;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    font-family: "Montserrat", "Arial", "Sans-serif";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    text-align: center;
    padding: 5px 25px 1px 25px;}
  }

  @media (max-width: 375px) {
    .tag__copy{
    font-size: 10px;
    height: 18px;
    padding: 3px 25px 0.8px 25px;
    }
  }
