
.tagsAndRating__section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;}


.tags__section {
    display: flex;
    gap: 10px;
    justify-content: flex-start;}


.content--dropdown {  
    display: flex;
    width: 100%;
    justify-content: space-between;}
