
@media all {
  .rate__copy{
    display:flex;
    justify-content: flex-end;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }

  .rate__copy li {
    list-style: none;
  }
}


@media (max-width: 500px) {
    .rate__copy{
    width: 98px;
    height: 18px;
    
    }

    

    .rate__copy img {
      width: 18px;
    }

}